body{
    width: 375px;
}
header{
    background-image: url(./images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(193, 100%, 96%);
    background-size: 200vw;
}
.header-top{
    
}
header img{
    width: 30%;
}
.button{
    background-color: white;
    border-radius: 1rem;
    width: 8rem;
    height: 2rem;
}
.header-bottom{

}

.icon-facebook:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-instagram:before {
    content: "\ea92";
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}